$primary-color: rgb(54, 109, 185);
$margin: 16px;

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.divider {
  background: $primary-color;
  width: 100%;
  height: 4px;
}

* {
  box-sizing: border-box;
}