---
---

//noinspection CssUnknownTarget
@import "default";

.header-container {
  background: $primary-color;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $margin;
  padding-bottom: $margin;
  text-align: center;
  height: 30vh;
  min-height: 240px;
  justify-content: space-between;
  max-width: 500px;
  max-height: 280px;
  width: 100%;
  @media only screen and (min-width : 1440px) {
    min-height: 310px;
  }

  $profile-pic-size: 5.5rem;
  $circle-size: $profile-pic-size * 0.45;
  $img-circle-size: $circle-size * 0.7;
  $icon-color: white;

  span, a {
    color: white;
  }

  #name {
    font-weight: 600;
    font-size: 2.3rem;
    line-height: 2.3rem;
  }

  #subtitle {
    font-weight: 400;
    font-size: 1.3rem;
  }

  #profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .circle {
      border-radius: 50%;
      border: 2px solid $icon-color;
      width: $circle-size;
      height: $circle-size;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: $img-circle-size;
        height: $img-circle-size;
        fill: $icon-color;
      }
    }

    img {
      width: $profile-pic-size;
      height: $profile-pic-size;
      border-radius: 50%;
    }
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    a {
      text-decoration: underline;
      font-size: 1.5rem;
    }
  }
}

.divider {
  margin-top: .5rem;
}

ul {
  list-style: none;
  padding: 0 $margin $margin $margin*1.5;
  max-width: 800px;
  width: 100%;

  li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 1.5rem;

    span{
      font-size: 1.3rem;
      font-weight: 300;
    }

    h1{
      font-size: 1.8rem;
      font-weight: 300;
      margin: 0;
      line-height: 2rem;
    }

    a{
      font-size: 1.3rem;
      font-weight: 300;
      font-style: italic;
      color: $primary-color;
    }

    p{
      font-size: 1.3rem;
      font-weight: 200;
      margin: 0;
    }
  }
}
