---
---

//noinspection CssUnknownTarget
@import "main";

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $margin;
  text-align: center;
  height: 30vh;
  min-height: 230px;
  justify-content: space-between;

  $profile-pic-size: 5.5rem;
  $circle-size: $profile-pic-size * 0.45;
  $img-circle-size: $circle-size * 0.7;
  $icon-color: $primary-color;

  #name {
    font-weight: 600;
    font-size: 2.3rem;
  }

  #subtitle {
    font-weight: 400;
    font-size: 1.3rem;
  }

  .circle {
    border-radius: 50%;
    border: 2px solid $icon-color;
    width: $circle-size;
    height: $circle-size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    .circle {
      svg {
        width: $img-circle-size;
        height: $img-circle-size;
        fill: $icon-color;
      }
    }

    img {
      width: $profile-pic-size;
      height: $profile-pic-size;
      border-radius: 50%;
    }
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    a {
      color: $primary-color;
      text-decoration: underline;
      font-size: 1.5rem;
    }
  }
}

.divider {
  margin-top: .5rem;
}

ul {
  list-style: none;
  padding: 0 $margin $margin $margin*1.5;

  li{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: $margin;

    span{
      font-size: 0.85rem;
      font-weight: 300;
    }

    h1{
      font-size: 1.5rem;
      font-weight: 300;
      margin: 0;
      line-height: 1.3rem;
    }

    a{
      font-size: 1rem;
      font-weight: 300;
      font-style: italic;
      color: $primary-color;
    }

    p{
      font-size: 1rem;
      font-weight: 200;
      margin: 0;
    }
  }
}
