<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{page.excerpt | strip_html | rstrip}}" />
    {% include favicons_head.html %}
    {% if page.stylesheet %}
    <link rel="stylesheet" href="{{page.stylesheet}}">
    {% else %}
    <link rel="stylesheet" href="{{layout.stylesheet}}">
    {% endif %}
    <link href="/assets/css/fonts.css" rel="stylesheet">
    <link href="/assets/css/syntax.css" rel="stylesheet">
    {% if page.title %}
    <title>{{page.title}}</title>
    {% else %}
    <title>{{site.title}}</title>
    {% endif %}
</head>
<body>
    {{content}}
</body>
</html>
